{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit car category</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{category.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{category.description}}</textarea>

					<label for="classification">Car classification:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="class" id="class1" value="SUV" {% if item.class == 'SUV'%}checked{%endif%}>SUV
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="class" id="class2" value="Coupe" {% if item.class == 'Coupe' %}checked{%endif%}>Coupe
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="class" id="class3" value="Spyder" {% if item.class == 'Spyder'%}checked{%endif%}>Spyder
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="class" id="class4" value="Roadster" {%if item.class =='Roadster'%}checked{%endif%}>Roadster
					  </label>
					</div>
			
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showmodel')}}'>
						<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}